@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Ranga:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Ranga:wght@400;700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Ranga:wght@400;700&family=Reenie+Beanie&family=Rhodium+Libre&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    overflow-x: hidden;
}

body.loaded {
    visibility: visible;
}

:root {
    --clr-main: #FFFFFF; 
    --clr-White: #D9D9D9;
    --clr-red: #FF6666;
    --clr-gray: #999999;
    --clr-black: #000000;
    --clr-orange: #BB6A20;
    --clr-black-gray: #4D4D4D;
    --clr-black-lestOpacity: hsla(0, 0%, 0%, 0.2);
    --clr-black-gradient: linear-gradient(to right, rgba(0,0,0,0.4), transparent);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.Contenedor-Principal {
    background: var(--clr-main);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.barra-nav {
    width: 100vw;
    height: 69px;
    background: var(--clr-White);
    display: flex;
    justify-content: center;
    border-bottom: 3px solid var(--clr-black);
}


header {
    position: relative;
    display: inline-block;
    left: 140px; 
    top: 5px;
    z-index: 1;
}

.btn-Logo {
    display: inline-block;
    border: 0;
    background: transparent;
    cursor: pointer;
}

header.logo .btn-Logo img {
    width: 60px;
    height: 60px;
}

.btn-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 10px;
    width: 100vw;
    height: auto;
    gap: 26px;
    max-width:  1456px;
    min-width: 1000px;
}


.btn-Carrito, .btn-Buscador, .btn-menu {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-Buscador {
    right: 120px;
}

.btn-Carrito {
    right: 50px;
}

article {
    display: inline-block;
    background: var(--clr-main);
}

.main-Productos-Container {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    justify-content: center;
    gap: 20px; 
    padding: 10%;
    padding-top: 0;
}

.contenedor-Producto {
    width: 500px;
    height: 593px;
    border: 1px solid var(--clr-black);  
}

.contenedor-Producto  img{
    position: relative;
    display: flex;
    left: 10%;
    width: 400px;
    height: 393px;  
    object-fit: contain;
    object-position: center;
}

.contenedor-Texto-Producto {
    position: relative;
    background: var(--clr-White);
    padding: 15px;
    height: 198px;
}

.poducto-Nombre, .producto-Categoria, .producto-Precio, .producto-Estado {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 4px;
    margin-left: 10px;
}

.poducto-Nombre {
    font-size: 20px;
    width: 300px;
}

.producto-Categoria {
    font-size: 18px;
    color: var(--clr-black-gray);
}

.producto-Precio {
    font-size: 18px; 
    color: var(--clr-orange);
}

.producto-Estado {
    position: absolute;
    color: var(--clr-orange);
    z-index: 1;
    top: 19px;
    right: 10px;
}

.contenedor-botones-compra {
    position: absolute;
    display: flex;
    gap: 5px;
    right: 10px;
    bottom: 10px;  
}

.btn-comprar, .btn-Carrito-producto {
    position: relative;
    display: inline-block;
    border-radius: 0%;
    padding: 5px;
    height: 43px;
    cursor: pointer;
}

.btn-comprar {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.btn-Carrito-producto img {
    position: relative;
    width: 29px;
    height: 29px;
    left: 0px;
}

.etiqueta-Distribucion {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
}

.etiqueta-Distribucion img {
    width: 100%;
}

.etiqueta-Distribucion .Etiqueta {
    position: absolute;
    top: 15%;
    left: 2%;
    font-family: 'Rhodium Libre', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.contenedor-Categoria {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-Categoria img {
    width: 343px;
    height: 535px;
}

.main-Categorias-Container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 28px;
}

.resaltador-Imagen-Texto {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 535px;
    background: var(--clr-black-lestOpacity);
    border: 0;
    cursor: pointer;
}

.resaltador-Imagen-Texto::after {
    content: '';
    position: absolute;
    width: 126px;
    height: 3px;
    background: var(--clr-main);
    top: 54%;
    right: 20%;
}

.resaltador-Imagen-Texto p{
    position: absolute;
    font-family: 'Rhodium Libre', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: var(--clr-main);
} 

.imagen-Precentacion-Pagina {
    margin-bottom: 30px;
    position: relative;
}

.imagen-Precentacion-Pagina img {
    width: 100%;
}

.cuadro-imagen-Bienvenida {
    top: 15%;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 369px;
    transform: skewY(1deg);
    background: var(--clr-red);
}

.cuadro-imagen-Bienvenida .contenedor-Imagenes {
    position: relative;
    width: 75%;
    height: 369px;
    clip-path: polygon(0 0, 100% 0,95% 0%,78% 40%,94% 60%,85% 70%,100% 100%,0 100%);
    object-fit: contain;
    overflow: hidden;
}

.cuadro-imagen-Bienvenida .contenedor-Imagenes img {
    position: relative;
    top: -50%;
}

.cuadro-imagen-Bienvenida .resaltador-Texto-Bienvenida {
    position: absolute;
    display: inline-block;
    top: 0;
    background: var(--clr-black-gradient);
    width: 35%;
    height: 369px;
}

.Texto-Ofertas {
    position: absolute;
    white-space: pre;
    font-family: 'Rancho', sans-serif;
    font-size: 50px;
    font-weight: 500;
    right: 60px;
    top: 0;
    color: var(--clr-black);
}

.Texto-Bienvenida {
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 100px;
    font-weight: 500;
    color: var(--clr-main);
}

.pie-Pagina {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--clr-White);
    height: 87px;
    width: 100vw;
    bottom: 0;
    border-top: 3px solid var(--clr-black);
}

.contenedor-Texto-PiePagina {
    position: relative;
    height: auto;
    width: 1456px;
    min-width: 1456px;
    display: flex;
    align-items: center;
}

.texto-footer-TerminosCondiciones, .texto-footer-PoliticasPrivacidad, .texto-footer-Copyright {
    position: absolute;
    display: inline-block;
    font-family: 'Rhodium Libre', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.texto-footer-TerminosCondiciones {
    font-size: 20px;
    right: 20%;
}

.texto-footer-PoliticasPrivacidad {
    font-size: 20px;
    right: 0;
}

.quitar-Filtro {
    position: fixed;
    width: 372px;
    height: 88px;
    background: var(--clr-White);
    z-index: 1000;
    top: 0;
    left: 40%;
    border: 0;
    border-bottom: 2px solid var(--clr-black);
    border-left: 2px solid var(--clr-black);
    border-right: 2px solid var(--clr-black);
    cursor: pointer;
    visibility: hidden;
}

.quitar-Filtro p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rhodium Libre', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

