/* Importacion de fuentes de texto de google fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Ranga:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Ranga:wght@400;700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Ranga:wght@400;700&family=Reenie+Beanie&family=Rhodium+Libre&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Fuentes: Roboto, Rhodium Libre, Reenie Beanie, Ranga, Rancho */

/* Estilos generales de la pagina web */

body {
    overflow-x: hidden;
}

body.loaded {
    visibility: visible;
}

:root {
    --clr-main: #FFFFFF; 
    --clr-White: #D9D9D9;
    --clr-red: #FF6666;
    --clr-gray: #999999;
    --clr-black: #000000;
    --clr-orange: #BB6A20;
    --clr-black-gray: #4D4D4D;
    --clr-black-lestOpacity: hsla(0, 0%, 0%, 0.2);
    --clr-black-gradient: linear-gradient(to right, rgba(0,0,0,0.4), transparent);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Estilos de contenedores */

.Contenedor-Principal {
    background: var(--clr-main);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.barra-nav {
    width: 100vw;
    height: 69px;
    background: var(--clr-White);
    display: flex;
    justify-content: center;
    border-bottom: 3px solid var(--clr-black);
}

header {
    position: relative;
    display: inline-block;
    left: 140px; 
    top: 5px;
    z-index: 1;
}

article {
    display: inline-block;
    background: var(--clr-main);
}

.main-Productos-Container {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    justify-content: center;
    gap: 20px; 
    padding: 10%;
    padding-top: 0;
}

.contenedor-Producto {
    width: 500px;
    height: 593px;
    border: 1px solid var(--clr-black);  
}

.contenedor-Texto-Producto {
    position: relative;
    background: var(--clr-White);
    padding: 15px;
    height: 198px;
}

.contenedor-botones-compra {
    position: absolute;
    display: flex;
    gap: 5px;
    right: 10px;
    bottom: 10px;  
}

.etiqueta-Distribucion {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
}

.etiqueta-Distribucion .Etiqueta {
    position: absolute;
    top: 15%;
    left: 2%;
    font-family: 'Rhodium Libre', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.contenedor-Categoria {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-Categorias-Container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 28px;
}

.contenedor-btns-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 10px;
    width: 100vw;
    height: auto;
    gap: 26px;
    max-width:  1456px;
    min-width: 1000px;
}

/* Estilos de imagenes */

header.logo .btn-Logo img {
    width: 60px;
    height: 60px;
}

.contenedor-Producto  img{
    position: relative;
    display: flex;
    left: 10%;
    width: 400px;
    height: 393px;  
    object-fit: contain;
    object-position: center;
}

.etiqueta-Distribucion img {
    width: 100%;
}

.contenedor-Categoria img {
    width: 343px;
    height: 535px;
}

.imagen-Precentacion-Pagina .img-Fondo {
    width: 100%;
}

.contenedor-Imagenes img {
    position: relative;
    width: 100%;
    top: -50%;
}

header.logo .btn-Logo img {
    width: 60px;
    height: 60px;
}

.btn-Carrito-producto img {
    position: relative;
    width: 29px;
    height: 29px;
    left: 0px;
}

/* Estilos del banner de bienvenida */

.resaltador-Imagen-Texto {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 535px;
    background: var(--clr-black-lestOpacity);
    border: 0;
    cursor: pointer;
}

.resaltador-Imagen-Texto::after {
    content: '';
    position: absolute;
    width: 126px;
    height: 3px;
    background: var(--clr-main);
    top: 54%;
    right: 20%;
}

.imagen-Precentacion-Pagina {
    margin-bottom: 30px;
    position: relative;
}

.cuadro-imagen-Bienvenida {
    top: 15%;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 369px;
    transform: skewY(1deg);
    background: var(--clr-red);
}

.contenedor-Imagenes {
    position: relative;
    width: 75%;
    height: 369px;
    clip-path: polygon(0 0, 100% 0,95% 0%,78% 40%,94% 60%,85% 70%,100% 100%,0 100%);
    object-fit: contain;
    overflow: hidden;
}

.resaltador-Texto-Bienvenida {
    position: absolute;
    display: inline-block;
    top: 0;
    background: var(--clr-black-gradient);
    width: 35%;
    height: 369px;
}

/* Estilos de botones */

.btn-Logo {
    display: inline-block;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.btn-Carrito, .btn-Buscador, .btn-menu {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-Buscador {
    right: 120px; 
}

.btn-Carrito {
    right: 50px;
}

.btn-comprar, .btn-Carrito-producto {
    position: relative;
    display: inline-block;
    border-radius: 0%;
    padding: 5px;
    height: 43px;
    cursor: pointer;
}

.btn-comprar {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


/* Div contenedores del pie de pagina */

.pie-Pagina {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--clr-White);
    height: 87px;
    width: 100vw;
    bottom: 0;
    border-top: 3px solid var(--clr-black);
}

.contenedor-Texto-PiePagina {
    position: relative;
    height: auto;
    width: 1456px;
    min-width: 1456px;
    display: flex;
    align-items: center;
}


/* Estilos del texto de la pagina*/

/* Estilos del texto de productos */

.poducto-Nombre, .producto-Categoria, .producto-Precio, .producto-Estado {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 4px;
    margin-left: 10px;
}

.poducto-Nombre {
    font-size: 20px;
    width: 300px;
}

.producto-Categoria {
    font-size: 18px;
    color: var(--clr-black-gray);
}

.producto-Precio {
    font-size: 18px; 
    color: var(--clr-orange);
}

.producto-Estado {
    position: absolute;
    color: var(--clr-orange);
    z-index: 1;
    top: 19px;
    right: 10px;
}

/* Estilo de la estiqueta del filtro activo */

.Etiqueta {
    position: absolute;
    top: 15%;
    left: 2%;
    font-family: 'Rhodium Libre', sans-serif;
    font-size: 40px; 
    font-weight: 600;
}

.resaltador-Imagen-Texto p{
    position: absolute;
    font-family: 'Rhodium Libre', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: var(--clr-main);
}

.Texto-Ofertas {
    position: absolute;
    white-space: pre;
    font-family: 'Rancho', sans-serif;
    font-size: 40px; 
    font-weight: 500;
    right: 60px;
    top: 0;
    color: var(--clr-black);
}

.Texto-Bienvenida {
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 80px; 
    font-weight: 500;
    color: var(--clr-main);
}

/* Estilos texto pie de pagina*/

.texto-footer-TerminosCondiciones, .texto-footer-PoliticasPrivacidad, .texto-footer-Copyright {
    position: absolute;
    display: inline-block;
    font-family: 'Rhodium Libre', sans-serif;
    font-size: 20px; /* Cambio de tamaño */
    font-weight: 500;
}

.texto-footer-TerminosCondiciones {
    right: 20%;
}

.texto-footer-PoliticasPrivacidad {
    right: 0;
}

/* Estilos barra de busqueda */

.barra-Busqueda-Oculta {
    display: none;
}

.barra-Busqueda {
    position: absolute;
    display: flex;
    top: 5px;
    right: 120px; 
    width: 0;
    transition: width 0.5s ease;
    height: 40px;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--clr-black);
    background: var(--clr-main);
    z-index: 0;
    padding-left: 10px;
    font-size: 20px;
} 

.barra-Busqueda::placeholder {
    position: relative;
    font-size: 20px;
    font-family: 'Rancho', sans-serif;
    font-weight: 600;
}

.btn-Buscador-inpuctText-Dezplegado {
    position: absolute;
    top: 5px;
    right: 420px; 
    border-radius: 10px 0 0 10px;
    border-right: 0;
    width: 40px;
    height: 40px;
    border: 2px solid var(--clr-black);
    transition: right 0.5s ease;
}

@keyframes expandirBarraBusqueda {
    from {
      width: 0; 
    }
    to {
      width: 296px; 
    }
  }

  @keyframes DesplazarBtnBusquedaIzquierda {
    from {
      right: 120px; 
    }
    to {
      right: 420px; 
    }
  }

  @keyframes DesplazarBtnBusquedaDerecha {
    from {
      right: 420px;
    }
    to {
      right: 120px; 
    }
  }


/* Estilos contenedor de resultados del buscador*/

#overlay-Buscador {
    position: absolute;
    top: 75px;
    right: 130px;
    z-index: 1000; 
    display: none;
}

.contenedor-Resultado-Buscador {
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: var(--clr-White);
    border: 2px solid var(--clr-black);
    width: 316px;
    height: auto;
    min-height: 120px;
    max-height: 70vh;
    z-index: 1;
    padding: 10px;
    gap: 10px;
}

.producto-Buscado {
    position: relative;
    width: 291px;
    height: 90px;
    padding: 5px;
}

.producto-Buscado img {
    position: absolute;
    left: 10px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
}

.contenedor-Texto-Producto-Buscado {
    position: absolute;
    padding: 5px;
    top: 5px;
    left: 30%;
    display: block;
}

.nombre-Producto-Buscado, .categoria-Producto-Buscado, .precio-Producto-Buscado {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: var(--clr-black);
}

.nombre-Producto-Buscado {
    max-width: 170px;
}

.categoria-Producto-Buscado {
    font-weight: 500;
    color: var(--clr-black-gray);
}

.precio-Producto-Buscado {
    position: relative;
    font-weight: 500;
    color: var(--clr-orange);
}

.btn-Resultado-Producto-Buscado {
    border: 0;
    display: block;
    position: relative;
    cursor: pointer;
    background: transparent;
}